* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Courier Prime", monospace;
}

.link {
    text-decoration: none;
    text-align: center;
}

.link:hover {
    text-decoration: underline;
}
